/*
This file is used to contain all abstracts imports.
Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
*/
/* Mixins */
.draw-border {
  box-shadow: inset 0 0 0 4px #fff;
  color: #fff;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  margin-top: 15px; }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0; }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px; }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px; }
  .draw-border:hover {
    color: #3C4BB3; }
    .draw-border:hover::before, .draw-border:hover::after {
      border-color: #3C4BB3;
      transition: border-color 0s, width 0.25s, height 0.25s;
      width: 100%;
      height: 100%; }
    .draw-border:hover::before {
      transition-delay: 0s, 0s, 0.25s; }
    .draw-border:hover::after {
      transition-delay: 0s, 0.25s, 0s; }

/*
This file is used to contain all base imports.
Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
*/
/* 
    Typography to be used:
        - Montserrat for headings
        - Merriweather for headings

*/
/*
This file is used to contain all layouts imports.
Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
*/
.header-intro {
  height: 80vh;
  background: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: red; }
  .header-intro .intro-info {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header-intro .intro-info h1, .header-intro .intro-info h2 {
      color: #262626; }
    .header-intro .intro-info .highlight-text {
      color: #262626; }
  .header-intro .intro-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px; }
  .header-intro .intro-bg {
    position: absolute;
    bottom: 0; }

/* Main Navigation */
.container-nav {
  background: #fff; }

.navbar-collapse {
  margin-bottom: 25px;
  border: transparent; }

.navbar {
  border-radius: 0;
  background: #FFFFFF;
  border: none; }

@media (min-width: 760px) {
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background: #fff none repeat scroll 0 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd; }

  .navbar .nav > li.dropdown.open > .dropdown-toggle, .navbar .nav > li.dropdown.active > .dropdown-toggle, .navbar .nav > li.dropdown.open.active > .dropdown-toggle {
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-left: 14px;
    padding-right: 14px;
    position: relative;
    z-index: 9999; }

  .navbar .nav > li > .dropdown-menu {
    border: 1px solid #ccc;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    /*left: -1px;*/
    min-width: 200px;
    margin: -1px 0 0;
    z-index: 9991; } }
/* Sections in body */
.section-heading {
  margin-bottom: 2%; }

section {
  margin-bottom: 2%; }

.container-skillbar {
  width: 100%;
  height: auto;
  overflow: none; }

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  height: 30px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color; }

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  background: #3C4BB3;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.skillbar-title span {
  display: block;
  background: #262626;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.skillbar-bar {
  height: 30px;
  width: 0px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  color: #262626; }

#projects {
  background: #ececec; }

/*
This file is used to contain all components imports.
Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
*/
/* Contact me button - animated*/
.outline-button {
  appearance: none;
  border: none;
  box-shadow: 0 0 0 2px rgba(60, 75, 179, 0.1) inset;
  background: none;
  padding: 1rem 3rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  color: #3C4BB3;
  margin-right: 30px;
  margin-top: 20px; }
  .outline-button:hover .outline-button__line {
    transform: none; }

.outline-button__lines {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.outline-button__line {
  background: #3C4BB3;
  position: absolute;
  transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1); }
  .outline-button__line--horizontal {
    width: 100%;
    height: 2px;
    transition-delay: 0.2727272727s; }
  .outline-button__line--vertical {
    width: 2px;
    height: 100%;
    transition-delay: none; }
  .outline-button__line--top {
    top: 0;
    left: 0;
    transform: translateX(-101%); }
  .outline-button__line--right {
    top: 0;
    right: 0;
    transform: translateY(-100%); }
  .outline-button__line--bottom {
    bottom: 0;
    left: 0;
    transform: translateX(100%); }
  .outline-button__line--left {
    top: 0;
    left: 0;
    transform: translateY(100%); }

body {
  background: #fff;
  font-family: 'Roboto', sans-serif; }

/*# sourceMappingURL=main.scss.map */

/*# sourceMappingURL=main.css.map */
