// Backgrounds
$light-bg: #f3f3f3;
$dark-bg: #2a2b30;
$nav-bg: #212125;

// General Colours
$white: #fff;
<<<<<<< HEAD
$grey: #ccc;
$black: #262626;

// Primary Colours
$orange: #FF5219
=======
$black: rgb(31, 31, 31);
$grey: #ccc;
$orange: #FF5219;
>>>>>>> a9b5f91bf91937d69c1830e8781618136abab185
