// Backgrounds
$light-bg: #f3f3f3;
$medium-bg: #ececec;
$dark-bg: #2a2b30;
$nav-bg: #212125;

// General Colours
$white: #fff;
$cyan-blue: #e1f1ff;
$grey: #ccc;
$black: #262626;
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;

// Primary Colours
$blue: #3C4BB3;
$purple: #A80CE8;

// Button animations
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$timing: .6s;
