// Header layout 

.header-intro{
    height: 80vh;
    background: $white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: red;
    
    .intro-info{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);   
        
        h1, h2{
            color: $black;
        }
    
        .highlight-text{
            color: $black;
        }
    }
    
    .intro-logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 60px;
    }

    .intro-bg{
        position:absolute;
        bottom:0;
    }
}