/* Sections in body */

.section-heading {
    margin-bottom: 2%;
}

section{
    margin-bottom: 2%;
}

.about-section{
    background: $blue;
    font-size: 2rem;
    .section-heading{
        margin-top: 10%;
        p {
            margin-left: 15%;
            width: 70%;
        }
    }
}
