/* Sections in body */

.section-heading {
    margin-bottom: 2%;
}

section {
    margin-bottom: 2%;
}

.section-purple {
    background: $blue;
}

.about-section{
    padding-bottom: 10%;
    font-size: 2rem;
    .section-heading{
        margin-top: 8%;
        p {
            margin-left: 15%;
            width: 70%;
        }
    }
}

.portfolio-section {
    .section-heading {
        h2, p {
            color: $black;
            margin-top: 8%;
            margin-bottom: 5%;
        }
    }
}

.contact-section {
    font-size: 2rem;
    .section-heading{
        margin-top: 5%;
        p {
            margin-left: 15%;
            width: 70%;
        }
    }
}