
.panel {
    background-color: $white;
    margin-top: -12%;
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
  }
  
  .skills-table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 900px) {
    .skills-table {
      flex-direction: row;
    }
  }
  
  .skills-table * {
    text-align: center;
  }
  
  .skills-plan {
    border-bottom: 1px solid $white;
    padding: 25px;
  }
  
  .skills-plan:last-child {
    border-bottom: none;
  }
  
  @media (min-width: 900px) {
    .skills-plan {
      border-bottom: none;
      border-right: 1px solid $cyan-blue;
      flex-basis: 100%;
      padding: 25px 50px;
    }
  
    .skills-plan:last-child {
      border-right: none;
    }
  }
  
  .skills-img {
    margin-bottom: 25px;
    max-width: 100%;
  }
  
  .skills-header {
    color: $black;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .skills-features {
    color: $black;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 50px 0 25px;
  }
  
  .skills-features-item {
    border-top: 1px solid $cyan-blue;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
  }
  
  .skills-features-item:last-child {
    border-bottom: 1px solid $cyan-blue;
  }

  .skills-bio {
    font-size: 18px;
    padding-top: 10px;
    color: $black;
    font-weight: $normal;
  }
  
  